<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-twitter"></i>
                </div>
                <span class="b-title">Tweet Lens</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="#" class="nav-link">
                        <span class="pcoded-badge label label-danger">COMING SOON</span>
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile</span></a>
                </li>   
                <li data-username="Locations" 
                    class="nav-item {% if 'locations' in segment %} active {% endif %}">
                    <a href="#" class="nav-link">
                        <span class="pcoded-badge label label-danger">COMING SOON</span>
                        <span class="pcoded-micon">
                            <i class="feather icon-map-pin"></i></span>
                            <span class="pcoded-mtext">Locations</span>
                    </a>

                </li>   

                          
            
                <li class="nav-item pcoded-menu-caption">
                    <label>Live</label>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'live_trends' in segment %} active {% endif %}">
                    <a href="/live_trends.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-trending-up"></i></span><span class="pcoded-mtext">Trend Streams</span></a>
                </li>




            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
